<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROSSIYA</title>
    <link rel="stylesheet" href="static/css/privacy.css">
</head>
<body class="Main_Body">
<header class="Main_Header">
    <nav>
        <ul class="Header">
            <div class="clothes_text">
                <li><a href="clothes">c l o t h e s</a></li>
            </div>
            <li><a href="">ROSSIYA</a></li>
            <div class="profile_text">
                <li><a href="login">p r o f i l e</a></li>
            </div>
        </ul>
    </nav>
</header>
<div class="privacy_text">
    <p>ПОЛОЖЕНИЕ О ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИ</br>
    ПЕРСОНАЛЬНЫХ ДАННЫХ</br>
    ОБЩЕЕ ПОЛОЖЕНИЕ</br>
    Оператор ставит своей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиту прав на неприкосновенность частной жизни, личную и семейную тайну от несанкционированного доступа и разглашения.
</br>Обработка персональных данных осуществляется на законной и справедливой основе, действуя разумно и добросовестно и на основе принципов:
</br>•законности целей испособов обработки персональных данных;
</br>•добросовестности;
</br>•соответствия целей обработки персональных данных целям, заранее определенным изаявленным при сборе персональных данных, а также полномочиям Оператора;
</br>•соответствия объема ихарактера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных.</p>
</div>

</body>
</html>